.main-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #004080;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFF;
    bottom: 0;
    position: fixed;
    width: 100%;
  }